.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .section {
    margin-bottom: 30px;
  }
  
  h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .input-field {
    display: flex;
    align-items: center;
    justify-content:space-between;
  }
  
  .input-field select {
    width: 150px;
    padding: 5px;
    font-size: 14px;
  }
  
  .notification-settings .notification-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .location-settings .location-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .location-settings .location-name {
    display: flex;
    align-items: center;
  }
  
  .location-settings .location-name input {
    flex-grow: 1;
    padding: 5px;
    font-size: 14px;
  }
  
  .location-settings .default-label {
    font-size: 12px;
    color: #666;
    margin-left: 10px;
  }
  
  .location-settings .set-default {
    font-size: 12px;
    padding: 5px 10px;
  }
  
  .location-settings{
    background-color: transparent;
    border: none;
    color: #666;
    cursor: pointer;
  }
  
  .location-settings .add-location {
    width: 100%;
    font-size: 14px;
    padding: 10px;
    background-color: #aba2a2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }