body{
    background: radial-gradient(#d3d1db, #00feba);

}

.main{
    display: flex;
    flex-direction: column;
}

.card{
  background: linear-gradient(135deg, #00feba, #5b548a);
  width: 500px;
  height: 650px;
  margin-left: 500px;
  border-radius: 40px;
  text-align: center;
  margin-top: 57px;
  box-shadow: 0 0 10px black;
}


.search {
    margin:25px 0 20px 0;
  }
  
  .search img {
    border: 0;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    vertical-align: middle; /* align the image with the input field */
  }
  
  .search input {
    border: 0;
    border-radius: 40px;
    padding: 20px;
    height: 20px;
    width: 300px;
    font-size: 16px;
  }
  
  .search button {
    border: 0;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    cursor: pointer;
    background-color: #00feba;
    color: #fff;
    font-size: 16px;
    margin-left: 10px; /* add some space between the button and the input field */
  }
  
  .wind-humidity {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .humidity {
    margin:0 20px 0 20px; /* add some space between the humidity and wind spans */
  }
  
  .wind {
    margin: 0 23px 0 0 ;
    /* no need for margin-left: auto; */
  }
  
  .wind img, .humidity img {
    width: 41px;
    height: 34px;
    margin-right: 10px; /* add some space between the image and the text */
  }
  
  .wind p, .humidity p {
    font-size: 30px;
    margin: 0;
  }
.now {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between; /* or space-around, depending on your preference */
    margin-top:18px;
  }
  
  .now span {
    margin-right: 20px; /* add some space between the elements */
  }
.moon{
    float:left;
    margin:0 0 0 20px;
}
.moon img{
    height: 25px;
    width: 25px;
}

/* .cloudy-night{
    margin:0 12px 0 0;
} */
.cloudy-night img{
    height: 25px;
    width: 25px;
}

.rainy img{
    height: 25px;
    width: 25px;

}

.clear img{
    height: 25px;
    width: 25px;
}
.left{
  background: linear-gradient(45deg, #00feba, #5b548a);
  width: 476px;
  height: 646px;
  margin: 57px 0 0 10px;
  border-radius: 40px;
  position: absolute;
  top:12px;
  left:0;
}
.left ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.left li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  line-height: 15px;
}

.left span {
  font-size: 25px;
  font-weight: bold;
  margin-left: 63px;
  
}
.left h2{
  text-align: center;
  font-size: 38px;

}
.left p{
  font-size: 25px;
  margin-left:20px;
}

.small{
  font-size: smaller;
}

.right1{
  background: linear-gradient(45deg, #00feba, #5b548a);
  width: 450px;
  height: 300px;
  border-radius: 40px;
  position: absolute;
  top:50px;
  right: 25px;
  box-shadow: 0 0 10px black;
  
}
.right2{
  background: linear-gradient(45deg, #00feba, #5b548a);
  width: 450px;
  height: 300px;
  border-radius: 40px;
  position: absolute;
  top:410px;
  right: 25px;
  box-shadow: 0 0 10px black;
}

.right1, .right2 h1{
  text-align:center;
  margin: 20px 0 0 0;
}