* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-image: url(Images/blue2.jpg);
    color: black;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding: 20px;
    overflow: hidden;
  }

.container {
    max-width: 1200px;
    margin: 65px auto 0 auto;
    position: relative;
    justify-content: space-between;

}

.sidebar {
    height: 477px;
    position: fixed;
    left: 22px;
    top: 125px;
    background: rgba(255, 135, 255, 0.251);
    padding: 15px;
    border-radius: 28px;
    box-shadow: 0 0 20px black;
    &:hover {
        transform: scale(1.03);
        transition: .9s;
        cursor: pointer;
      }
}

.sidebar button {
    display: block;
    width: 40px;
    height: 40px;
    margin: 30px 0;
    border: none;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 5px rgb(94, 94, 94);
    &:hover{
        background-color: rgb(231, 231, 231);
        transition: 0.3s;
    }
}

.sidebar button img{
    height: 20px;
    width: 20px;
}

.main-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 55px 0 0 -20px;
}

.weather-card {
    font-size: 26px;
    background: rgba(135, 249, 255, 0.2);
    padding: 20px;
    border-radius: 40px;
    height: 560px;
    width: 420px;
    margin-top: -3px;
    text-align: center;
    box-shadow: 0 0 20px black;
    &:hover {
        transform: scale(1.03);
        transition: .9s;
        cursor: pointer;
      }
}

.search-bar {
    margin: 10px 0 0 5px;
}

.search-bar input {
    height: 55px;
    width: 290px;
    padding: 10px;
    border: none;
    border-radius: 40px;
    background: rgb(255, 255, 255);
    font-size: 16px;
}

.search-bar button {
    border: 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: #00feba;
  } 

.search-bar img {
    height: 20px;
    width: 20px;
    vertical-align: middle;
}

.forecast-list {
    list-style: none;
}

.forecast-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    line-height: 44px;
}

.forecast-item span{
    margin-right: 15px;
}

.current-weather {
    text-align: center;
}

.weather-details {
    display: flex;
    justify-content: space-around;
    margin: 33px 0;
    font-size: 23px;
}

.hourly-forecast {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.hour-item {
    text-align: center;
    font-size: 17px;
}

.recent{
    margin: 35px -55px 10px 0;
    display: flex;
    justify-content: space-between;
    font-size: 26px;
    gap:  30px;
    flex-wrap: wrap;
}

.cities{
    background-color: rgba(255, 135, 255, 0.251);
    width: 135px;
    height: 40px;
    padding: 7px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 0 10px black;
}

.cities button{
    font-size: 26px;
    background: transparent;
    border: 0px;
    cursor: pointer;
    &:hover{
        transform: scale(1.15);
        transition: 0.9s;
    }
}

@media (max-width: 968px) {
    .main-content {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 768px) {
    .main-content {
        grid-template-columns: 1fr;
        margin-left: 0;
    }

    .sidebar {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        top: auto;
        transform: none;
        display: flex;
        justify-content: space-around;
        padding: 10px;
        border-radius: 15px 15px 0 0;
    }

    .sidebar button {
        margin: 0;
    }
}
